* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    font-size: 62.5%;
}
header, nav, main, footer {
    margin: 0;   
    padding: 5px;
}

/*--------------FOR OLD IE------------*/
figure, footer, header, nav, section, main {
    display: block;
}

/*--------------HEADER------------*/
header {
    background-color: white;
    height: 200px;
    font-size: 1.4em;
    padding: 0px 5px 0px 5px;
}
header h1 {
    color: white;
}
header img {
    display: block;
    margin: 0 auto;
    z-index: 2!important;
    width: 200px;
}
.ieImg {
    display: none;
}
.elseImg {
    display: block;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .ieImg {
        display: block;
    }
    .elseImg {
        display: none;
    }
}

/*--------------MAIN------------*/
main {
    background-color: white;
}
main p {
    font-family: 'Signika', sans-serif;
    text-decoration-color:darkslategray;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 10px;  
}
main h2 {
    font-family: 'Signika', sans-serif;
    font-size: 3.5em;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;    
}

/*--------------NAVIGATION------------*/
#navWrapper{
    width: 100%;
    overflow:hidden;
}
nav {
    background-color: lavender;
    font-family: 'Vollkorn', serif;
    height: 43px;
    z-index: 500!important;
}
#navDiv {
    text-align: center;  
} 
nav a {
    color: black;
    font-size: 1.8em; /* 1em = 10px */
    text-decoration: none;
}
nav ul a{
    padding: 1px 6px 7px 6px;
}
nav ul li.hoverable :hover {
    background: #189ee2;
    text-decoration: none;
    color: aliceblue;
}
nav li {
    display: inline;
}
a.nav-desktop {
    display:none!important;
}
.activeNav {
    background: #1684bb;
    text-decoration: none;
    color: aliceblue;
}
.mobile-menu {
    float: right;
    cursor:pointer
}
#menu-button {
    color: white;
    padding-right: 40px;
}
#mySidebar {
    z-index:2;
    width:100%;
    min-width:200px;
    margin-top: 22px;
    display: none;
}
#mySidebar a {
    height: 31px;
    font-size: 2.5em;
}
/*--------------STICKY NAV------------*/
.nav-placeholder {
    margin: 0 auto;
}
.fixed {
    position: fixed;
    top: 0;
    right: 0;
    z-index:2;
    left: 0;
}

/*--------------COLLAPSABLE NAV FOR MOBILE------------*/
.collpsnav-sidebar {
    background-color: ghostwhite;
    position: relative!important;
    z-index: 400!important;
    overflow: auto;
}
.collpsnav-sidebar-fixed {
    position: fixed!important;
}
.collpsnav-sidebar-relative {
    position: relative!important;
}
.collpsnav-bar-block {
    min-width: 100%;
}
.collpsnav-bar-block.collpsnav-button,.collpsnav-bar-block .collpsnav-button {
    width: 100%;
    text-align: center;
    padding: 5px 2px;
}
.collpsnav-bar-block.collpsnav-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: center;
    border: none;
    outline: none;
    white-space: normal;
    float: none;
    text-align: center;
}
.collpsnav-card-2 {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.12);
}
.collpsnav-top {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}
.collpsnav-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    outline: none;
    display: block;
}
.collpsnav-menu-button {
    box-sizing: border-box;
    border: none;
    outline: 0;
    font-size: 4.0em;
    height: 49px!important;
    width: 49px!important;
    margin-top: -3px;
    padding-bottom: -10px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: normal;
    color: white;
    background-color: #189ee2;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}
.collpsnav-button {
    margin-left: -5px;
    border: none;
    display: inline-block;
    outline: 0;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: normal;
}
.collpsnav-button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}
.collpsnav-button:first-child {
    /*background-color: #ccc;*/
    color: #000;
}
.collpsnav-button:hover {
    color: #000!important;
    background-color: lightblue; 
}
.collpsnav-animate-left {
    position: relative;
    animation: animateleft 0.3s;
}
@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
}}
.collpsnav-animate-top {
    position: relative;
    animation: animatetop 0.3s;
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
}}
.collpsnav-left {
    float: left!important;
}
.collpsnav-right {
    float: right!important;
}

/*--------------IMAGES IN MAIN------------*/
.leftAlignImage {
    float: left;
    width: 150px;
}
.rightAlignImage {
    float: right;
    width: 120px;
}

/*--------------SIDE INFO IN INDEX.HTML------------*/
.sideInfo {
    text-align: center;
    padding: 2px;
}
.left-div, .right-div {
    display: block;  
    padding: 11px;
    border-radius: 3px;
    margin: 8px 0 5px 0;
}
.left-div {   
    min-width: 230px;
    vertical-align: top;
    z-index: 3;
    background: #f2f2f2;   
}
.right-div {
    min-width: 230px;
    z-index: 3;
    background: #f2f2f2;
    /*background: #000000 url("../images/examples/green-grass-transparant.jpg") no-repeat fixed top;*/
}
.left-text, .right-text {
	color: #000;
}
.clear {
    clear: left;
}
main .fa {
    text-align: center;
    align-content: center;
    font-size: 3em;
}

/*--------------IMAGE SLIDER------------*/
/*
.slider-set {
    margin: 0px;
    padding: 0px;
    cursor: default;
}
.frame-main {
    width: 500px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    background: red;
}
.frame-gallery{
    position: absolute;
    list-style-type: none;
    background: yellow;  
}
.item {
    float: left;
}
.pip-list{
    position: relative;
    background: red;
    list-style-type: none;
    top: 92%;
    left: 44%;
}
.pip{
    float: left;
    width: 12px;
    height: 12px;
    border: 1px solid black;
    border-radius: 6px;
    margin: 0px 3px;
    background: rgba(255,255,0,0.3);
    transition: 500ms 100ms;
}
.pip.active{
    background: darkgray;
    border: 1px solid rgba(10,162,80, 0.5);
    box-shadow: 0px 0px 9px red;
    transition: 500ms 100ms;
}
#slider-one {
    
}
/*

/*--------------BETTER IMG SLIDER------------*/
#sliderContainer {
    padding: 0 2px 0 2px;
    margin: 10px auto;
    max-width: 700px;
}
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}
div#slider {
    overflow: hidden; 
}
div#slider figure img {
    width: 20%; float: left; 
}
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite; 
}

/*--------------PRODUCT AND INSTAGRAM GALLERY------------*/
div.gallery {
    border: 1px solid #ccc;
}
div.gallery:hover {
    border: 1px solid #777;
}
div.gallery img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 15px;
    text-align: center;
}
#gallery-container * {
    box-sizing: border-box;
}
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}
@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}
@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*--------------SOCIAL MEDIA------------*/
.instagram {
    margin: 20px; height: 150px; float: left; overflow: hidden;
}
.instafeed-container {
    text-align: center!important;
    margin-right:auto; margin-left: auto;  
}
.facebook {
    text-align:center;  
}

/*--------------WHERE OUR MILK IS MAP------------*/
#map {
    width:90%; max-width: 1200px; height:500px; margin:0 auto;
    margin-bottom: 10px;
}
.imgCentre {
    margin: 0 auto;
}

/*--------------FOOTER------------*/
footer {
    background-color: #4e4e4e;
}
footer p {
    color: white;
    font-size: 2.8em;
    text-align: center;
    padding: 1em;
}
footer .fa {
    color: white;
    font-size: 4em;
    text-align: right;
    margin: 1px 0px 7px 5px;
}


/*--------------FORMATTING FOR NON-MOBILE------------*/
@media only screen and (min-width: 900px) {
    a.nav-desktop {
        display:inline!important;
    }
    .collpsnav-hide-large{
        display:none!important;
    }
    html {
	   overflow-y: scroll; 
    }
    
    /*-- Give box shadow and show some background --*/
    main {
        box-shadow:        inset  11px -10px 8px -10px #000000, inset  -11px 0px 8px -10px #000000;  
        -moz-box-shadow:    inset  11px -10px 8px -10px #000000, inset  -11px 0px 8px -10px #000000;
        -webkit-box-shadow: inset  11px -10px 8px -10px #000000, inset  -11px 0px 8px -10px #000000;
    }
    header {
        box-shadow:        inset  11px 0 8px -10px #000000, inset  -11px 0px 8px -10px #000000;  
        -moz-box-shadow:    inset  11px 0 8px -10px #000000, inset  -11px 0px 8px -10px #000000;
        -webkit-box-shadow: inset  11px 0 8px -10px #000000, inset  -11px 0px 8px -10px #000000;
    }
    
    /*-- Initialise nav bar for desktop machines --*/
    header, nav, main, footer {
        width: 95%;
        margin: 0 auto;
    }
    nav a {
        font-size: 2.8em; /* size 16 = 1.0em */
    }
    nav ul {
        margin-top: 2px;
    }
    nav ul a{
        padding: 7px 5px 7px 5px;
    }
    
    /*-- Give side info a nice 3 columned layout --*/
    .left-div, .right-div {
        display: inline-block; 
        margin: 4px;
    }
    .left-div {   
        width: 25%;
        max-width: 230px;
    }
    .right-div {
        width: 25%;
        max-width: 400px;
    }
}

/*--------------SPREAD NAV BAR OUT FOR SLIGHTLY LARGER SCREENS------------*/
@media only screen and (min-width: 1000px) {
    nav ul a {
        padding: 7px 15px 7px 15px;
    }
}

/*--------------SPRED NAV BAR OUT FOR REALLLY BIG SCREENS------------*/
@media only screen and (min-width: 1584px) {
    nav ul a {
        padding: 7px 20px 7px 20px;
    }
}

noscript {
    margin 0 auto;
}
